/* body{
    background-color: #0f0;
} */

@font-face{
    font-family: "NotoSans-Regular";
    src: url("fonts/NotoSans-Regular.ttf");
}

@font-face{
    font-family: "NotoSans-Bold";
    src: url("fonts/NotoSans-Bold.ttf");
}

@font-face{
    font-family: "NotoSans-Italic";
    src: url("fonts/NotoSans-CondensedItalic.ttf");
}

.bold{
    font-family: "NotoSans-Bold";
}

em{
    font-family: "NotoSans-Italic";
}

:not(.bold):not(em){
    font-family: "NotoSans-Regular";
}

.team-loc{
    font-size: 1.75rem;
}

hr.team-separator{
    margin: 0.25em;
}

.intro-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.intro{
    width: 70%;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    color: white
}

.alliance{
    width: 50%;
    padding: 0.5em 1em;
}

.alliance.left{
    border-top-left-radius: 1em;
}
.alliance.right{
    border-top-right-radius: 1em;
}

.right{
    text-align: right;
}

.red{
    background-color: rgb(224,54,52);
}

.blue{
    background-color: rgb(0,127,195);
}

.team{
    display: flex;
    flex-direction: row;
}
.team-bio{
    width: 70%;
}
.team-stats{
    width: 30%;
    font-size: 1.35rem;
}
.red .team-stats{
    text-align: right;
}
.blue .team-stats{
    text-align: left;
}

.match-prediction{
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
}

.match-prediction-bars-area{
    display: flex;
    flex-direction: row;
    color: white
}

#match-prediction-bar-red{
    border-radius: 1em 0 0 1em;
    font-weight: bold;
}
#match-prediction-bar-blue{
    border-radius: 0 1em 1em 0;
    font-weight: bold;
}
#match-prediction-title{
    background-color: rgb(157,157,157);
    color: white;

    display: inline-block;
    
    line-height: 1em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em 0.25em 0 0;
}

.area-title{
    text-align: center !important;
    text-decoration: underline;
    /* font-family: "NotoSans-Bold"; */
    font-size: 1.25rem;
}