@font-face{
    font-family: "NotoSans-Regular";
    src: url("fonts/NotoSans-Regular.ttf");
}

@font-face{
    font-family: "NotoSans-Bold";
    src: url("fonts/NotoSans-Bold.ttf");
}

@font-face{
    font-family: "NotoSans-Italic";
    src: url("fonts/NotoSans-CondensedItalic.ttf");
}

.bold{
    font-family: "NotoSans-Bold";
}

em{
    font-family: "NotoSans-Italic";
}

:not(.bold):not(em){
    font-family: "NotoSans-Regular";
}

body{
    color:white;
}

.red{
    background-color: rgba(218,38,46, 0.9);
}

.blue{
    background-color: rgba(0,118,190, 0.9);
}

.grey{
    background-color: rgba(157,157,157, 0.9);
}

.match-name-wrapper{
    text-align: center;
}

.match-name{
    font-size: 4rem;
    text-align: center;
    
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    position: relative;
    top: 3rem;
}

.team-info-wrapper{
    width: 95%;
    position: relative;
    top: 10rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    font-size: 2.25rem;
}

.align-right{
    text-align: right;
}

.alliance{
    width: 50%;
    padding: 0.5rem 1rem;
    display: flex;
}

.alliance.left{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.alliance.right{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#iq-teams{
    width: 75%;
}
#iq-teams .alliance{
    width: 100%;
}

.team-area{
    flex: 1 0 auto;
    /* width: 100%; */
    padding-bottom: 1rem;
    margin: 0.5rem;
}

#vexu-teams, #radc-teams{
    margin: 4rem auto;
}

#vexu-teams .team-area{
    padding: 2rem 0;
    /* min-height: 14rem; */
}

.team{
    display: flex;
    flex-direction: row;
}


.team-bio{
    flex-grow: 1;
    margin: auto 0;
    font-size: 2rem;
}

.team-loc{
    font-size: 2rem;
}

.rank-area{
    margin: auto 0;
    text-align: center;
    min-width: 6rem;
}
#iq-teams .rank-area{
    margin-right: 2rem;
}
.left .rank-area{
    padding-right: 1rem;
}
.right .rank-area{
    padding-left: 1rem;
}
.rank{
    font-size: 4rem;
}
.wlt{
    font-size: 1.5rem;
}

.team-stats{
    font-size: 1.65rem;
    min-width: 14rem;
    margin: auto 0;
    /* margin-left: 1rem; */
}
.left .team-stats{
    text-align: right;
}
.right .team-stats{
    text-align: left;
}

.score-wrapper{
    width: 35%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    position: relative;
    top: 18rem;
}
#collab-score.score-wrapper{
    width: 20%;
}

.score{
    font-size: 8rem;
    display: inline-block;
    text-align: center;
    flex-grow:1
}
.winner{
    /* border: 0.25rem groove yellow; */
    text-decoration: underline;
}

.seed-area{
    /* width: 4rem; */
    max-width: 5rem;
    flex: 1 0 auto;
    font-size: 1rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}
.seed{
    font-size: 4rem;
    font-weight: bold;
    margin:0;
}